body {


}

a {
   color: #EF233C;
}

a:hover {
   text-decoration: none; 

}

header, footer {
  background: #2B2D42;
  color: #8D99AE;

}

.work {
   background: #EDF2F4;

}

.education {
   background: #8D99AE;
}
