

body {

font-family: 'Open Sans', sans-serif;
margin: 0;

}

h1, h2{
   font-family: 'Caveat', cursive;
   font-weight: 400;

}

h2 {
 font-size: 40px;
 margin-top: 0;
}

h3 {
margin: 0;

}

a {
   color: #EF233C;
}

a:hover {
   text-decoration: none;

}

.content-wrap{
  max-width: 950px;
  margin: 0 auto;
  padding: 50px;
  overflow: auto;
}

.col-narrow {
  width: 30%;
  float: left;
}

.col-wide {
   width: 70%;
   float: left;
   padding-left: 20px;
}

.uppercase {
 text-transform: uppercase;

}

/* Header and Footer*/
header, footer {
  background: #2B2D42;
  color: #8D99AE;

}

/* header*/
.profile-img{

  border-radius: 50%;


}
header h1, header h2 {
  color: #EDF2F4;
  margin: 0;


}

header {
  text-align: center;

}

/*footer*/
footer {
  text-align: center;

}

.contact-info a {
  background: white;
  padding: 10px;
  display: inline-block;

}

nav {
   text-align: center;
   background: white;
}

nav a {
 display: inline-block;
 padding: 15px 20px;
 text-decoration: none;
 text-transform: uppercase;
}
/* Work Experience
----------------*/
.work {
   background: #EDF2F4;

}

h3 ~ p {
 margin: 0;
}

.job-description {
  margin-bottom: 25px;

}

.job-description p:first-of-type {
 margin-top: 0;
}
/* Education */

.education {
   background: #8D99AE;
}

/*apply this style to any h3 that follows a paragraph tag*/

p + h3 {
  margin-top: 30px;

}
