

body {

font-family: 'Open Sans', sans-serif;

}

h1, h2{
   font-family: 'Caveat', cursive;
   font-weight: 400;

}

h2 {
 font-size: 40px;
 margin-top: 0;
}

a {
   color: #EF233C;
}

a:hover {
   text-decoration: none;

}

.content-wrap{
  max-width: 950px;
  margin: 0 auto;
  padding: 50px;
}


header, footer {
  background: #2B2D42;
  color: #8D99AE;

}

header h1, header h2 {
  color: #EDF2F4;


}

.work {
   background: #EDF2F4;

}

.education {
   background: #8D99AE;
}
